 
  <link rel="stylesheet" href="/css/styles.css">

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/teste" method="POST" id="frm_" enctype="multipart/form-data">                    
                        

                        <div class="form-group">
                            <textarea type="text" name="texto" class="form-control" placeholder="Informe o defeito e os respectivos contatos"></textarea>
                        </div>                      

                        <div class="form-group">
                            <select class="select-css" name="contrato" id="list" onChange="update()">
                                <option selected disabled>Contrato/ Parceiro/ Produto </option>  
                                <option selected disabled>Escolha Um Contrato </option>
                                
                                {{#each geral}}                                    
                                    <option value="{{NUM_CONTRATO}}" 
                                            id="{{CODPARC}}" 
                                            title="{{CODPROD}}"
                                            ren="{{VALORTEMPO}}" >
                                                {{NUM_CONTRATO}} - {{NOMEPARC}} - {{ DESCRPROD }}
                                    </option>                                   
                                    
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group" hidden>
                            <select class="select-css" name="contato" id="list2" onChange="update()">    
                                
                                {{#each cont}}                                    
                                    <option value="{{CONTATO}}"
                                    id="{{CODCONT}}" >
                                                {{CONTATO}}
                                    </option>                                   
                                    
                                {{/each}}
                            </select>
                        </div> 

                        <div class="form-group" id="updiv">
                            <select class="select-css" name="contato" id="aqui" onChange="update2()"> 
                                <option value="" disabled selected>Escolha Contato Responsável</option>   
                                
                            </select>
                        </div> 
                        

                        <div class="form-group">
                            <input type="file" name="file"><br> 
                        </div>

                        {{!-- armazena valores envio req.body insert  --}}
                        <input hidden id="value">
		                <input hidden id="codparc" name="codparc">
                        <input hidden id="codprod" name="codprod"> 
                        <input hidden id="atualiza" name="atualiza">     
                        <input hidden id="sla" name="sla">                   

                        
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Gerar Ordem De Serviço
                            </button>
                        </div>
                    </form>                   
                    
                </div>
            </div>
        </div>

    </div>
</div>

{{!-- RECEBE O VALOR INFORMADO NO SELECT A TRIBUI A INPUT PARA REGISTRAR O CODPARC --}}
<script type="text/javascript">  

    function update() {
				var select = document.getElementById('list'); 
				var option = select.options[select.selectedIndex];

                //busca valor contrato
                var contrato = option.value;
                var contr=contrato.toString();
                console.log('valor contrato')
                console.log(contr)   
                
                document.getElementById('value').value= option.value;
				document.getElementById('codparc').value = option.id;
                document.getElementById('codprod').value = option.title; 

                //busca o sla referente ao contrato
                var ren = document.forms['frm_'].elements['list'].options[document.forms['frm_'].elements['list'].selectedIndex].getAttribute('ren');
                const slacc = parseInt(ren) 
                document.getElementById('sla').value = slacc

                //busca valor dos contatos
                var select = document.getElementById('list2');                                              
				var option = select.options[select.selectedIndex];
                var contatos = option.value

                console.log('select contatos')
                console.log(contatos) 

                const languagesList = contatos

                console.log('impressao lista contatos languagesList')
                    console.log(languagesList)              

                
                //pega o select
                var select = document.getElementById("list2");
                //cria uma lista vazia 
                var vlroption = []


                //le o select e pega somente os valores e adiciona em uma nova lista
                //console.log("porra")
                for (i = 0; i < select.length; i = i + 1) {               
                vlroption.push(select.options[i].value)
                
                }

                //Limpa a Lista original
                for (j = 0; j < select.length; j = j + 1) {
                    select.options.remove(j);
                }

                //le os dados que foram armazenados e insere na lista
                console.log("Lista Preenchida")
                for (k =0; k < vlroption.length; k = k + 1){
                        //console.log(vlroption[k])
                            if(vlroption[k].match(contr)){
                            console.log(vlroption[k])
                            
                        //insere os itens no select option
                        var option = new Option(vlroption[k], vlroption[k]);
                                var select = document.getElementById("aqui");
                                select.add(option);
                }
                }

                 
			} 
            function update2(){
                var select = document.getElementById('aqui'); 
				var option = select.options[select.selectedIndex];
                var novo= option.text.substr(0,2)
                document.getElementById('atualiza').value= novo;
            }

            
            
            


            
		</script>